.container-fluid{
    padding-right: 100px!important;
    padding-left: 100px!important;
    padding-top: 20px;
}

fieldset, legend{
    all:revert;
}

.card-size{
    width: 302px !important;
    height: 400px!important;
}
.image-size{
    width: 300px!important;
    height: 200px!important;
}
 
.nos-btn{
    border-style: none;
    background-color: transparent;
    padding: 0px 10px;
}


.mynav{
    background-color: transparent;
    border: none;
    color: purple;
    text-decoration: none;
    font-size: 22px;
}

.btn-color{
    background-color: rgb(212, 80, 80);
    margin-top: 15px;
}
.footer-size p{
    font-size: 1em;
    /* line-height: 12px; */
}
.social{
    background-color: black;
    padding: 2px 5px;
    margin: 5px 5px;
    border-radius: 50px 50px;
    color: white;
    font-size: 1em;
    display: inline-block;
    /* margin-bottom: 10px; */
}
textarea:focus, input:focus{
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color:white!important;
}
.accordion-button:focus {
    box-shadow: none!important;
}

@media (min-width:0px) and (max-width:1300px){
    .container-fluid{
        padding-left: 20px!important;
        padding-right: 20px!important;
        text-wrap: wrap;
        font-size: 12px;
    }
} 